<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active"><%= link_to 'Batches', manage_account_batches_path %></li>
    </ol>
  </nav>
</div>
<hr>
<div class="subject-list">
  <div class="row">
    <div class="col-lg-12">
      <span class="entity-title">Batches</span>
      <div class="float-end">
        <div class="btn-group" role="group">
          <%= link_to new_manage_account_batch_path(@current_account, @batch), method: :GET, remote: true, class: "btn btn-sm btn-theme abc" do %>
            <i class="bi bi-plus-circle-fill"></i> New Batch
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-lg-12 col-sm-12 mt-3">
      <div class="row" id="batch-list">
        <%= render partial: "batches", locals: { batches: @batches } %>
      </div>
    </div>
  </div>
</div>

<div id="batch-form"></div>
<%= render "manage/shared/delete_confirmation" %>

<script>
  BatchController();
</script>
