<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_manage_account_batch_path(@current_account, @batch), method: :GET, remote: true %>
|
<%= link_to 'Back', manage_account_batches_path %>

<div id="batch-form"></div>