<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active"><%= link_to 'Exams', exams_path %></li>
    </ol>
  </nav>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <span class="entity-title">Exams</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <%= render partial: "exams", locals: { exams: @exams } %>
  </div>
</div>

<script>
  ExamController();
</script>
